# Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# ud120 project
testing/P1_testing/ud120-projects/*.pyc
testing/P1_testing/ud120-projects/enron_mail_20110402.tgz
testing/P1_testing/ud120-projects/enron_mail_20110402/
testing/P1_testing/ud120-projects/enron_mail_20150507.tgz
testing/P1_testing/ud120-projects/enron_mail_20150507.tar.gz
testing/P1_testing/ud120-projects/maildir/
testing/P1_testing/ud120-projects/text_learning/your_word_data.pkl
testing/P1_testing/ud120-projects/text_learning/your_email_authors.pkl
testing/P1_testing/ud120-projects/my_classifier.pkl
testing/P1_testing/ud120-projects/my_dataset.pkl
testing/P1_testing/ud120-projects/my_feature_list.pkl

# note
note/Tensorflow/data/
note/Tensorflow/MNIST_data/
note/Tensorflow/__pycache__/

uda_project/P7/RecommendedSystem/ml-1m/*
uda_project/P7/RecommendedSystem/preprocess.p

uda_project/P7/RecommendedSystem/checkpoint
uda_project/P7/RecommendedSystem/movie_matrics.p
uda_project/P7/RecommendedSystem/params.p
uda_project/P7/RecommendedSystem/runs/*
uda_project/P7/RecommendedSystem/save.data-00000-of-00001
uda_project/P7/RecommendedSystem/save.index
uda_project/P7/RecommendedSystem/save.meta
uda_project/P7/RecommendedSystem/users_matrics.p
